@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    margin: 0;
    background: rgb(247, 246, 246);
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.navbar {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: rgb(13, 158, 236);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: rgb(8, 59, 245);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: rgb(10, 5, 255);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.col-6 col-md-4 {
    background-color: rgb(255, 5, 22);
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}

.flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

main {
    margin: 5em;
    color: rgb(13, 158, 236);
    text-align: center;
    text-align: justify;
    text-align-last: center;
    text-shadow: 1px 1px 0px blue;
    font-family: monospace;
}

.row {
    margin: 20px;

}

.row .col-2 {
    border: 1px solid #969696;
    margin: none;
    margin-left: 30px;
    background-color: lightgrey;
}

.row .col-4,
.col-6 {
    border: 1px solid #969696;
    background-color: lightgrey;
}

.row .col-10 {
    margin-left: -15px;
    background-color: lightgrey;
}

.row .offset-md-1 {
    margin-left: 60px;
    border: 1px solid #969696
}

:required {}